Package: maa
Version: 1.0
Architecture: all
Maintainer: Test Account <theunknown2721@gmail.com>
Description: Welcome to MAA, which stands for "my awesome app". (in linux) It's not so awesome anyway...
